<section class="body_landing_page" (click)="changeImage()">
  <div class="slide">
    <img [src]="currentImage" class="slide_img" />
    <img [src]="currentPoint" class="slide_point" />
    <h1>{{ currentTitle }}</h1>
    <span>{{ currentSubtitle }}</span>
  </div>
  <section class="content_landing_page">
    <img src="../../assets/logo.png" class="logo" />
    <h1>{{ currentTitle }}</h1>
    <span>{{ currentSubtitle }}</span>
    <div class="buttons_landing_page">
      <button class="button_get_started">Get Started</button>
      <button class="button_login">Login</button>
    </div>
  </section>
</section>
