<header
  class="w-[100vw] h-(13vh) lg:h-[13vh] md:h-[12vh] pt-[1vh] sm:w-[100vw] fixed z-50 flex justify-between items-center"
  [ngClass]="{
    'bg-transparent': isHome() && isMobile,
    'bg-gradient-to-b from-purple-500 to-[rgba(0,0,0,0.5)]': !isMobile,
    hidden: isLandingPage() && isMobile
  }"
>
  <ng-container *ngIf="isHome()">
    <app-menu></app-menu>
    <div class="h-auto order-3 mt-3 lg:mr-[2vw]" [ngClass]="{ 'mr-[4vw]': isMobile }">
      <img
        src="../../../assets/Icon-user.svg"
        class="w-[13vw] lg:w-[3.3vw] md:w-[7vw] md:mr-[1vw] lg:mr-[1vw] sm:w-[7vw]"
      />
    </div>
  </ng-container>
  <img
    src="../assets/logo.png"
    class="lg:w-[8vw] md:w-[20vw] w-[30vw] sm:w-[20vw] h-auto"
    [ngClass]="{
      'w-[30vw] order-2': isHome() && isMobile,
      'ml-[4vw]': !isMobile && !isHome(),
      'w-[28vw] mx-auto mt-[20vw]': isForm() && isMobile
    }"
  />
  <div
    class="mr-[2vw] flex justify-center items-center"
    *ngIf="!isHome()"
    [ngClass]="{ hidden: isMobile && isForm() }"
  >
    <div
      routerLink="/login"
      class="w-[10rem] md:w-[8rem] sm:w-[14vw] h-[3rem] md:h-[2rem] lg:h-[6vh] sm:h-[2rem] rounded-[15px] text-white flex justify-center items-center hover:bg-[rgba(0,0,0,0.5)] hover:border-2 hover:border-custom-purple hover:text-custom-purple cursor-pointer"
    >
      <a routerLink="/login"> Login </a>
    </div>
    <div
      routerLink="/sign-up"
      class="bg-custom-purple w-[10rem] md:w-[8rem] md:h-[2rem] lg:h-[6vh] lg:ml-[1vw] sm:h-[2rem] sm:w-[14vw] h-[3rem] rounded-[15px] text-white flex justify-center items-center hover:bg-[rgba(0,0,0,0.5)] hover:border-2 hover:border-custom-purple hover:text-custom-purple cursor-pointer sm:text-[0.8rem]"
    >
      <a routerLink="/sign-up"> Get Started </a>
    </div>
  </div>
</header>
