<header
  class="w-[100vw] h-(13vh) lg:h-[13vh] top-0 md:h-[12vh] left-0 pt-[1vh] sm:w-[100vw] fixed z-50 flex justify-between items-center"
  [ngClass]="{
    'bg-transparent': user && isMobile,
    'bg-gradient-to-b from-purple-500 to-[rgba(0,0,0,0.5)]': !isMobile,
  }"
>
  <ng-container *ngIf="user">
    <app-menu></app-menu>
  </ng-container>

  <a
    [routerLink]="user ? '/home' : '/landing-page'"
    [ngClass]="{ hidden: isProfile || isLibrary }"
  >
    <img
      src="../assets/logo.png"
      class="lg:w-[8vw] md:w-[20vw] w-[30vw] sm:w-[20vw] h-auto"
      [ngClass]="{
        'w-[26vw]': user && isMobile,
        'ml-[4vw]': !isMobile && !user,
        'w-[30vw] ml-[2vw]': isMobile && !user,
      }"
    />
  </a>

  <div *ngIf="isProfile || isLibrary" class="self-center mx-auto">
    <h1 class="text-white">{{ isProfile ? "Account" : "Library" }}</h1>
  </div>

  <ng-container *ngIf="user">
    <app-user-dropdown-menu
      [ngStyle]="{ visibility: isProfile ? 'hidden' : 'visible' }"
    ></app-user-dropdown-menu>
  </ng-container>

  <div class="mr-[2vw] flex justify-center items-center" *ngIf="!user">
    <a routerLink="/login">
      <div
        class="w-[10rem] md:w-[8rem] sm:w-[14vw] h-[3rem] md:h-[2rem] lg:h-[6vh] sm:h-[2rem] rounded-[15px] text-white flex justify-center items-center hover:bg-[rgba(0,0,0,0.5)] hover:border-2 hover:border-custom-purple hover:text-custom-purple cursor-pointer"
        [ngClass]="{ 'text-[0.8rem]': isMobile }"
      >
        Login
      </div>
    </a>
    <a routerLink="/sign-up">
      <div
        class="bg-custom-purple w-[10rem] md:w-[8rem] md:h-[2rem] lg:h-[6vh] lg:ml-[1vw] sm:h-[2rem] sm:w-[14vw] h-[2rem] rounded-[15px] text-white flex justify-center items-center hover:bg-[rgba(0,0,0,0.5)] hover:border-2 hover:border-custom-purple hover:text-custom-purple cursor-pointer sm:text-[0.8rem]"
        [ngClass]="{ 'text-[0.8rem] h-[2rem] w-[5rem]': isMobile }"
      >
        Get Started
      </div>
    </a>
  </div>
</header>
