header {
    width: 100vw;
    height: 13vh;
    background: linear-gradient(to bottom, rgba(151, 71, 255, 0.5), rgba(0, 0, 0, 0.5));
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 9999;

    img {
        width: 13vw;
        height: auto;
        margin-left: 2vw;
    }

    .buttons_landing_page_desktop {
        margin-right: 2vw;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;

        div {
            width: 10rem;
            height: 3rem;
            margin: 1vw;
            border-radius: 15px;
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        div:hover {
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.5);
            border: 1px solid #9747FF;
            color: #9747FF;
        }
    }

    .button_get_desktop {
        background-color: #9747FF;
    }
}


.header-home {
    background: none;

    .logo {
        width: 30vw;
    }
}

.center-logo {
    order: 2;
    width: 30vw;
    height: auto;
}

.icon_menu {
    margin-left: 2vw;
    width: 10vw;
    order: 1;
}

.icon_user {
    margin-right: 4vw;
    width: 10vw;
    order: 3;
}

@media (min-width: 611px) {
    .header-home {
        background: linear-gradient(to bottom, rgba(151, 71, 255, 0.5), rgba(0, 0, 0, 0.5));

        .logo {
            width: 8vw;
            height: auto;
            margin-left: 2vw;
        }
    }

    .icon_menu {
        width: 4vw;
    }

    .icon_user {
        width: 4vw;
    }
}