@use '@angular/material' as mat;
@include mat.core();
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$font-poppins: 'Poppins', sans-serif;

body {
    font-family: $font-poppins;
    background-color: black;
}
