@use '@angular/material' as mat;
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@include mat.core();
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import 'ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

$font-poppins: 'Poppins', sans-serif;

body {
    font-family: $font-poppins;
    background-color: black;
}

