<section class="w-screen h-screen mx-auto" *ngIf="isMobile">
  <img
    src="../../assets/logo.png"
    class="absolute w-1/2 h-auto top-[52vh] z-30 left-1/2 transform -translate-x-1/2"
  />

  <app-carousel-landing-page></app-carousel-landing-page>
  <section class="flex flex-col justify-center items-center">
    <div class="absolute top-[80vh] flex flex-col">
      <div
        class="text-white h-[6vh] rounded-lg flex justify-center items-center bg-custom-purple hover:bg-transparent hover:border-custom-purple font-semibold py-2 px-4 mb-[1vh] md:w-[20vw]"
        routerLink="/sign-up"
      >
        <a
          routerLink="/sign-up"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Get Started
        </a>
      </div>
      <div
        class="text-white w-[80vw] h-[6vh] rounded-lg flex justify-center items-center border border-custom-purple hover:bg-custom-purple hover:text-white hover:border-transparent font-semibold py-2 px-4"
        routerLink="/login"
      >
        <a
          routerLink="/login"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
        >
          Login
        </a>
      </div>
    </div>
  </section>
</section>

<section *ngIf="!isMobile">
  <app-header [user]="false"></app-header>
  <section>
    <app-carousel-media
      [mediaSubtype]="'upcoming'"
      [mediaType]="'movie'"
    ></app-carousel-media>
  </section>
  <h2 class="text-white mt-10 mb-5 ml-6">Popular Movies</h2>
  <app-cards
    [movieType]="'popular'"
    [useScrollX]="true"
    [mediaType]="'movie'"
  ></app-cards>
  <h2 class="text-white mt-10 mb-5 ml-6">Upcoming Movies</h2>
  <app-cards
    [movieType]="'upcoming'"
    [useScrollX]="true"
    [mediaType]="'movie'"
  ></app-cards>
  <section class="flex flex-col justify-center items-center mb-20">
    <h3 class="text-white text-2xl text-center mt-20 mb-20">
      A simple and complete experience
    </h3>
    <img
      src="../../../assets/view-landing.png"
      class="w-3/4"
      alt="Photos of the app viewing in mobile and desktop version"
    />
    <span class="text-white"
      >Discover all the ways to watch your favorite movies on Nook</span
    >
  </section>
</section>
