.header {
    position: absolute;
    top: 0;
    width: 50vw;
}

.span {
    font-weight: lighter;
}

@media screen and (min-width: 611px) {
    .header {
        img {
            width: 20vw;
            margin: 0 auto;
        }
    }
}