<section class="h-screen flex flex-col justify-center items-center">
  <app-header></app-header>
  <h1 class="text-white text-2xl mb-2">Welcome</h1>
  <span class="text-white font-light ml-5 mr-5 text-center">
    Please go to your email and verify your account
  </span>
  <div
    class="bg-custom-purple text-white font-normal py-4 px-6 rounded-custom mt-10 button_get"
  >
    <a routerLink="/login" routerLinkActive="active" aria-current="page">
      Back to Login
    </a>
  </div>
</section>
