<section class="h-screen flex flex-col justify-center items-center">
  <div class="header flex mt-10">
    <img src="../../../assets/logo.png" class="logo" />
  </div>
  <h1 class="text-white text-2xl mb-2">Welcome</h1>
  <span class="text-white ml-5 mr-5 text-center span">Please go to your email and verify your account</span>
  <div
  class="bg-custom-purple text-white font-regular py-4 px-6 rounded-custom mt-10 button_get"
  routerLink="/sign-up"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  <a
    routerLink="/login"
    routerLinkActive="active"
    ariaCurrentWhenActive="page"
    >Back to Login</a
  >
</div>
</section>
