<section>
  <section
    [ngClass]="{
      'slider-container': useSlider,
      'scroll-container': !useSlider
    }"
  >
    <div
      *ngFor="let movie of movies"
      [ngClass]="{ 'slider-movie': useSlider, 'scroll-movie': !useSlider }"
    >
      <img
        [src]="'https://image.tmdb.org/t/p/w500/' + movie.poster_path"
        [alt]="movie.title"
        (mouseenter)="onMouseEnter(movie)"
        (mouseleave)="onMouseLeave(movie)"
        [class.hovered]="movie.isHovered"
      />
    </div>
  </section>
</section>
