<app-nav-bar></app-nav-bar>
<app-header [user]="true"></app-header>
<ng-container *ngIf="media === 'movie' || media === 'tv'">
  <app-card
    [movieId]="media === 'movie' ? movie.id : tvShow.id"
    [mediaType]="media"
  ></app-card>
  <p
    class="text-white font-light lg:font-light text-center text-[0.8rem] lg:text-[1rem] ml-5 mt-5 lg:mt-[6vh] lg:mb-[10vh] mb-7 mr-5 lg:ml-[5vw] lg:mr-[5vw] mx-auto"
  >
    {{ media === "movie" ? movie.overview : tvShow.overview }}
  </p>
  <section *ngIf="media === 'tv'">
    <app-seasons-tv-show
      [serieId]="tvShow.id"
      [seasons]="tvShow.seasons"
      (seasonInfo)="handleSeasonInfoSelected($event)"
    ></app-seasons-tv-show>
    <div class="text-white overflow-x-auto whitespace-nowrap ml-[5px] overflow-y-hidden scrollbar-hide mb-5">
      <div *ngIf="seasonInfo">
        <div class="flex"> 
          <div
            *ngFor="let episode of seasonInfo.episodes"
            class="inline-block mr-[4px] w-[40vw] sm:w-[20vw] m-[10px] lg:w-[20vw] transition-transform duration-300 ease-linear hover:cursor-pointer md:w-[20vw]"
          >
            <div class="h-[15vh] lg:h-[20vh] w-[40vw] sm:w-[20vw] lg:w-[20vw]"> 
              <img
              [src]="episode.still_path ? 'https://image.tmdb.org/t/p/w500' + episode.still_path : 'https://i.imgur.com/aCKFFJp.png'"
                class="w-[50vw] h-[15vh] lg:h-[20vh] object-cover rounded-[8px] align-top"
              />
            </div>
            <div class="h-[10vh] lg:h-[20vh]"> 
              <h1 class="text-[0.4rem] lg:text-[0.7rem] font-extralight text-opacity-75 mt-2">
                Episode {{ episode.episode_number }}
              </h1>
              <h2 class="text-[0.6rem] lg:text-[1rem]">{{ episode.name }}</h2>
              <p class="text-[0.5rem] whitespace-normal font-extralight text-opacity-40 lg:text-[0.8rem]">
                {{ episode.overview }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  

  <h2 class="text-white ml-5" *ngIf="media === 'movie' || media === 'tv'">
    Main Cast
  </h2>
  <div
    class="overflow-x-auto whitespace-nowrap scrollbar-hide mt-5 mb-5 ml-5 lg:mb-[4vh]"
  >
    <div
      *ngFor="
        let actor of media === 'movie'
          ? movie?.credits?.cast
          : tvShow?.credits?.cast
      "
      class="inline-block mr-6 w-20vw h-auto m-10px transition-transform duration-300 ease-linear hover:cursor-pointer md:w-10vw flex-col justify-center items-center"
    >
      <ng-container *ngIf="actor.profile_path">
        <img
          class="h-16 mx-auto w-16 rounded-full object-cover lg:h-[8vw] lg:w-[8vw]"
          [src]="'https://image.tmdb.org/t/p/original/' + actor.profile_path"
          [alt]="actor.name"
        />
      </ng-container>
      <ng-container *ngIf="!actor.profile_path || actor.profile_path === null">
        <img
          class="h-16 mx-auto w-16 lg:h-[8vw] lg:w-[8vw]"
          src="../../../assets/person-circle.svg"
          alt="icon person"
        />
      </ng-container>
      <div class="flex flex-col items-center justify-center">
        <h2
          class="lg:text-[0.8rem] text-[0.6rem] text-opacity-60 text-white font-extralight text-center sm:text-[0.6rem]"
        >
          {{ actor.name }}
        </h2>
        <span
          class="lg:text-[0.8rem] text-[0.6rem] font-semibold text-custom-purple text-center sm:text-[0.6rem]"
          >{{ actor.character }}</span
        >
      </div>
    </div>
  </div>

  <ng-container
    *ngIf="
      media === 'movie'
        ? movie && movie.genres && movie.genres.length > 0
        : tvShow && tvShow.genres && tvShow.genres.length > 0
    "
  >
    <h3 class="text-white ml-5">More content like this</h3>
    <app-cards
      [genre]="media === 'movie' ? movie.genres[0].id : tvShow.genres[0].id"
      [useScrollX]="true"
      [mediaType]="media"
    ></app-cards>
  </ng-container>
  <div class="mb-12"></div>
</ng-container>
