.section_login {
    height: 100vh;
    width: 80vw;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        input::placeholder {
            font-weight: lighter;
        }

        input {
            padding-left: 20px;
        }
    }

    div {
        margin-top: 7vh;
        font-size: 0.8rem;
    }

    .font_light {
        font-weight: 200;
    }

    .font_bold {
        font-weight:600;
    }
}