<section class="h-[100vh] w-[80vw] flex mx-auto flex-col justify-center items-center">
  <h1 class="text-white mb-20 text-2xl">{{ title }}</h1>
  <form
    [formGroup]="form"
    (ngSubmit)="onSubmit()"
    class="lg:w-[30vw] md:w-[50vw] flex flex-col justify-center px-6 text-white w-full"
  >
    <ng-container *ngIf="action === 'signUp'">
      <input
        type="text"
        placeholder="Name"
        id="name"
        name="name"
        formControlName="firstName"
        class="bg-custom-input-color h-10 mt-4 rounded-lg placeholder:font-light pl-5 w-full max-w-full"
      />
      <app-error-message [control]="form.get('firstName')!" />

      <input
        type="text"
        placeholder="Last Name"
        formControlName="lastName"
        class="bg-custom-input-color h-10 mt-4 rounded-lg placeholder:font-light pl-5 w-full max-w-full"
      />
    </ng-container>
    <input
      type="email"
      placeholder="Email"
      id="email"
      name="email"
      formControlName="email"
      [ngClass]="{ invalid: hasError('email') }"
      class="bg-custom-input-color h-10 mt-4 rounded-lg placeholder:font-light pl-5 w-full max-w-full"
    />
    <app-error-message [control]="form.get('email')!" />

    <div class="bg-custom-input-color h-10 mt-4 rounded-lg w-full flex justify-between items-center relative">
      <input
        matInput
        [type]="hide ? 'password' : 'text'"
        placeholder="Password"
        id="password"
        name="password"
        formControlName="password"
        [ngClass]="{ invalid: hasError('password') }"
        class="bg-custom-input-color rounded-lg placeholder:font-light pl-5 w-full max-w-full h-full pr-[40px]"
      />
      <button
      mat-icon-button
      matSuffix
      type="button"
      name="button-password-visibility"
      (click)="togglePasswordVisibility()"
      [attr.aria-label]="'Hide password'"
      [attr.aria-pressed]="hide"
      class="absolute top-1/2 right-[5px] transform -translate-y-1/2 lg:m-0"
    >
      <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>

      </button>
    </div>
    <app-error-message [control]="form.get('password')!" />

    <ng-container *ngIf="action === 'signUp'">
      <input
        type="password"
        placeholder="Confirm Password"
        formControlName="confirmPassword"
        class="bg-custom-input-color h-10 mt-4 rounded-lg placeholder:font-light pl-5 w-full max-w-full"
      />
      <app-error-message [control]="form.get('confirmPassword')!" />
    </ng-container>
    <button
      type="submit"
      class="bg-custom-purple text-white font-regular py-2 px-6 rounded-lg mt-4 mb-10 button_get transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 lg:w-[10vw] lg:mx-auto md:w-[15vw] md:mx-auto"
    >
      {{ titleButton }}
    </button>
    <ng-container *ngIf="action === 'signIn'; else templateSignIn">
      <div class="flex justify-center mt-[7vh] text-sm">
        <span class="text-white mr-2 font-light">Don’t have an account?</span>
        <a class="text-custom-purple font-bold" routerLink="/sign-up"
          >Register</a
        >
      </div>
    </ng-container>
  </form>
</section>
<ng-template #templateSignIn>
  <div class="flex justify-center mt-[7vh] text-sm">
    <span class="text-white mr-2 font-light">Already have an account?</span>
    <a class="text-custom-purple font-bold" routerLink="/login">Sign In</a>
  </div>
</ng-template>

