<section
  class="mt-[10vh] lg:mt-[15vh] md:mt-[15vh] flex flex-col items-center h-[100vh] w-[100vw]"
>
  <app-header [user]="true"></app-header>
  <app-nav-bar></app-nav-bar>
  <app-search-bar
    (searchResults)="handleSearchResults($event)"
    (clearSearchEvent)="clearSearch()"
  ></app-search-bar>

  <section class="flex flex-col items-center h-[100vh]">
    <ng-container *ngIf="!searchResults">
      <app-category-cards></app-category-cards>
      <app-category-results
        [categoryName]="categoryName || ''"
        [movies]="movies"
      ></app-category-results>
    </ng-container>

    <app-search-results [searchResults]="searchResults"></app-search-results>
  </section>
</section>
