<section
  class="mt-[10vh] lg:mt-[15vh] md:mt-[15vh] flex flex-col items-center w-[100vw]"
>
  <app-header [user]="true"></app-header>
  <app-nav-bar></app-nav-bar>
  <app-search-bar
    (searchResults)="handleSearchResults($event)"
    (clearSearchEvent)="clearSearch()"
  ></app-search-bar>

  <section class="flex flex-col items-center h-[100vh]">
    <ng-container *ngIf="!searchResults">
      <app-category-cards></app-category-cards>
      <app-category-results
        [categoryName]="categoryName || ''"
        [movies]="movies"
        (scrolled)="onScroll()"
        infiniteScroll
        [infiniteScrollDistance]="1"
        [infiniteScrollThrottle]="50"
      ></app-category-results>
    </ng-container>
    <app-search-results
      *ngIf="searchResults"
      [searchResults]="searchResults"
      (scrolled)="onScrollSearch()"
      infiniteScroll
      [infiniteScrollDistance]="1"
      [infiniteScrollThrottle]="50"
    >
    </app-search-results>
  </section>
</section>
