<nav *ngIf="isMobile"
  class="bg-custom-input-color fixed w-full h-[7vh] z-20 bottom-0 left-0 text-white text-opacity-50 font-extralight flex items-center justify-between pl-6 pr-6"
>
  <a routerLink="/home" class="flex flex-col items-center">
    <mat-icon>home</mat-icon>
    <span class="text-[0.6rem]">Home</span>
  </a>
  <a class="flex flex-col items-center">
    <mat-icon> local_library</mat-icon>
    <span class="text-[0.6rem]">Library</span>
  </a>
  <a class="flex flex-col items-center">
    <mat-icon>search</mat-icon>
    <span class="text-[0.6rem]">Search</span>
  </a>
</nav>
