.section_signUp {
    height: 100vh;
    width: 80vw;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    form {
        input::placeholder {
            font-weight: lighter;
        }

        input {
            padding-left: 20px;
        }

        .text-sm {
            font-size: 0.7rem;
            color: #F24B4B;
        }
    }

    .alert {
        display: flex;
        align-items: center;
    }

    .icon_error {
        font-size: 1rem;
        margin-top: 0.5vh;
    }

    .container_options {
        margin-top: 7vh;
        font-size: 0.8rem;
    }

    .font_light {
        font-weight: 200;
    }

    .font_bold {
        font-weight: 600;
    }
}

@media screen and (min-width: 611px) and (max-width: 1380px) {
    .header {
        width: 100vw;
        height: 13vh;
        background: linear-gradient(to bottom, rgba(151, 71, 255, 0.5), rgba(0, 0, 0, 0.5));
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 9999;
        top: 0;

        img {
            width: 20vw;
            margin-top: 2vh;
            margin-bottom: 7vh;
        }
    }

    form {
        width: 50vw;
    }
}

@media screen and (min-width: 1381px) {

    form {
        width: 30vw;

        button {
            width: auto;
            margin: 3vh auto;
        }
    }

    .header {
        width: 100vw;
        height: 13vh;
        background: linear-gradient(to bottom, rgba(151, 71, 255, 0.5), rgba(0, 0, 0, 0.5));
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 9999;
        top: 0;

        img {
            width: 12vw;
            height: auto;
            margin-top: 2vh;
            cursor: pointer;
        }
    }
}